- @page_title = 'The Open Source Status Site'
.heroHeader{:class => "heroHeader--style0"}
  .heroHeader__logo= image_tag 'logo-white.svg', :class => ''
  .heroHeader__text
    .pageContainer
      %h1.heroHeader__title Your ultimate status site
      %p.heroHeader__intro Staytus is a free, open source & beautiful status site which you can install on your own servers. It’s fully-loaded with all the features you’d expect from any site you might pay for.
      %ul.heroHeader__buttons
        %li= link_to "Try the live demo", demo_path, :class => 'heroHeader__buttonTry'
        %li= link_to "Check out the code", repo_path

.featuresPage
  .pageContainer
    %h2.featurePage__heading Here's a list of features...
    %p.featurePage__intro
      We're packing all the great features which you've come to expect
      from a hosted status page. Here's just a few of the things you
      can expect from Staytus.


    %ul.featuresPage__list
      %li.featuresPage__feature
        = image_tag 'icons/ui.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Beautiful & responsive Interface
        %p.featuresPage__featureText
          Staytus has a default theme which is both sexy and responsive.
          It works well on desktop, tablet and mobile. You can always design your own themes, if you'd prefer.
      %li.featuresPage__feature
        = image_tag 'icons/issues.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Track issues as they happen
        %p.featuresPage__featureText
          Your status site can keep track of issues as they happen. Just
          login to the admin UI and add issues and continuously post
          updates as the issue progresses.

    %ul.featuresPage__list
      %li.featuresPage__feature
        = image_tag 'icons/maintenance.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Publish your maintenance sessions
        %p.featuresPage__featureText
          Every app/network needs some scheduled maintenance. Add your maintenance
          sessions and they'll be announced on your status site. Once in progress
          you can then provide updates as and when needed.

      %li.featuresPage__feature
        = image_tag 'icons/email.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Allow visitors to subscribe by e-mail
        %p.featuresPage__featureText
          When issues happen, it's a good idea to let customer's know as quickly
          as possible. With Staytus, visitors can enter their e-mail address
          and we'll automatically notify them when you add new issues or maintenance sessions.

    %ul.featuresPage__list
      %li.featuresPage__feature
        = image_tag 'icons/api.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Update from your external apps
        %p.featuresPage__featureText
          Staytus includes a JSON API which allows you to update statuses from
          external applications & sources. If you've got your own monitoring
          system, you can hook it up to update your status site.

      %li.featuresPage__feature
        = image_tag 'icons/users.svg', :class => 'featuresPage__icon'
        %h3.featuresPage__featureHeading Share your site with your colleagues
        %p.featuresPage__featureText
          As status site is only as good as the data you put in. Empower your
          whole team to add new updates when issues arise to ensure customers
          are always informed.
